.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-right: 1px lightgray solid;
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 10px;
    width: 50%;
    

}

.message {
   background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 60px;
}
.messageAva{
    width: 50px;
    border-radius:25px;
}
.avaName{
display: inline-flex;   
align-items: center; 

}
.littleAvatar{
    width: 25px;
    height: 25px;
    border-radius: 30px;

}
